/* FUENTE TITULOS */
@import url('https://fonts.googleapis.com/css2? familia= Oswald:peso@500 & display=swap');
/* 'Oswald', sans-serif; */

/* FUENTE SUBTITULOS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
/* 'Merriweather', serif; */

/* FUENTE TEXTO */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
/* 'Dosis', sans-serif;  */

/* ESPECIAL */
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
/* 'Hurricane', cursive; */