@import "generales";
@import "fuentes";
@import "navbar";
@import "footer";


/* HOME */

.section1{
    min-height:82vh;
    width: 100%;
    background-color:rgb(190, 190, 189);
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.section1 .cajavideo{
    max-height: 800px;
    max-width: 1000px;
}

.video{
    width: 100%;
}

.section2{
    min-height: 50vh;
    width: 100%;
    background-color:rgb(190, 190, 189);
    border-bottom: 2px solid black;
    padding: 20px;
}

.section2 .subtitulo2{
    color: black;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-family:'Oswald', sans-serif;
}

.section2 .subtitulo2:hover{
    color: yellow;
    background-color:rgb(35,31,32) ;
}

.section2 .texto2{
    color: black;
    font-family:'Dosis', sans-serif;
    font-size: 20px;
}

.section3{
    min-height: 50vh;
    width: 100%;
    background-color: rgb(190, 190, 189);
    border-bottom: 2px solid black;
}

.section3 .subtitulo3{
    color: black;
    border-bottom: 2px solid black;
    font-family:'Merriweather', serif;
}

.section3 .texto3{
    color: black;
    font-family:'Dosis', sans-serif;
}

.container-inicio{
    max-width: 1200px;
    margin: auto;
}

.section4{
    min-height: 60vh;
    width: 100%;
    background-color: rgb(190, 190, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.section4 .titulo4{
    font-size: 70px;
    padding: 30px;
    font-family:'Oswald', sans-serif;
}

.section4 .titulo4:hover{
    color: yellow;
    background-color:rgb(35,31,32);
}

.section4 .boton-inicio{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 15px;
    box-shadow: 5px 8px 12px black;
}

.boton-inicio:hover{
    background-color: rgb(255, 230, 43);
}


/* SERVICIOS */

.section5{
    min-height: 80vh;
    background-color: rgb(190, 190, 189);
    border-bottom: 2px solid black;
}

.titulo5{
    margin-left: 20px;
}

.servicioVideo{
    margin: 10px;
}

.section-a{
    grid-area: a;
}
.section-b{
    grid-area: b;
}
.section-c{
    grid-area: c;
}
.servicioVideo{
    grid-area: e;
}

.section5{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "a"
    "b"
    "c"
    "e";
}

@media (min-width:576px){
    .section5{
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "a      e"
        "b      e"
        "c      e";
    }
    .section-a{
        font-size: 40px;
    }
    .section-b{
        font-size: 40px;
    }
    .section-c{
        font-size: 40px;
    }
}

@media (min-width:767px){
    .section5{
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "a      e"
        "b      e"
        "c      e";
    }
    .section-a{
        font-size: 60px;
    }
    .section-b{
        font-size: 60px;
    }
    .section-c{
        font-size: 60px;
    }
}

@media (min-width:991px){
    .section5{
        grid-template-columns: 2fr 2fr;
        grid-template-areas:
        "a      e"
        "b      e"
        "c      e";
    }
    .section-a{
        font-size: 90px;
    }
    .section-b{
        font-size: 90px;
    }
    .section-c{
        font-size: 90px;
    }
}



.section6{
    min-height: 75vh;
    width: 100%;
    background-color: rgb(190, 190, 189);
    border-bottom: 2px solid black;
}

.container-servicios{
    max-width: 1200px;
    margin: auto;
}

.sectionfondo{
    background-color: rgb(35,31,32);
    border-radius: 40px;
    box-shadow: 8px 10px 12px yellow;
}

.imagen6{
    border-radius: 40px;
    box-shadow: 8px 10px 10px black;
}

.imagen6:hover{
    transform: translatey(15px);
}

.titulo6{
    color: rgb(255, 230, 43);
    border-bottom: 2px solid white;
    font-family: 'Oswald', sans-serif;
}

.subtitulo6{
    color: white;
    font-family: 'Merriweather', serif;
}

.texto6{
    color: white;
    font-family:'Dosis', sans-serif ;
}

.section7{
    min-height: 70vh;
    background-color:rgb(160, 160, 159);
    border-bottom: 2px solid black;
}

.titulo7{
    color: white;
    background-color:rgb(35,31,32);
    padding: 20px;
    font-family:'Oswald', sans-serif;
}

.titulo7:hover{
    color: yellow;
}

.texto7{
    font-family:'Dosis', sans-serif ;
}

.cajas{
    background-color: rgb(35,31,32);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-cajas{
    margin-bottom: 10px;
}

.texto7{
    color: white;
}

.texto7:hover{
    color: yellow;
}


/* OBRAS */

#body-obras{
    background-color: rgb(190, 190, 189);
}

.t1{
    background-color:rgb(35,31,32);
    color: yellow;
    border-radius: 40px;
    font-family: 'Oswald', sans-serif;
}

.t2{
    background-color:rgb(35,31,32);
    color: yellow;
    border-radius: 40px;
    font-family: 'Oswald', sans-serif;
}

.t3{
    background-color:rgb(35,31,32);
    color: yellow;
    border-radius: 40px;
    font-family: 'Oswald', sans-serif;
}

.t4{
    background-color:rgb(35,31,32);
    color: yellow;
    border-radius: 40px;
    font-family: 'Oswald', sans-serif;
}

.t5{
    background-color:rgb(35,31,32);
    color: yellow;
    border-radius: 40px;
    font-family: 'Oswald', sans-serif;
}

.t6{
    background-color:rgb(35,31,32);
    color: yellow;
    border-radius: 40px;
    font-family: 'Oswald', sans-serif;
}

/* RESIDENCIAL */

.contenedor-residencial img{
    width: 100%;
    box-shadow: 8px 10px 12px black;
}

.t1{
    grid-area: t1;
}

.r1{
    grid-area: r1;
}

.r2{
    grid-area: r2;
}

.r3{
    grid-area: r3;
}

.r4{
    grid-area: r4;
}

.r5{
    grid-area: r5;
}

.r6{
    grid-area: r6;
}

.contenedor-residencial{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "t1"
    "r1"
    "r2"
    "r3"
    "r4"
    "r5"
    "r6"
    ;
}

@media (min-width:576px){
    .contenedor-residencial{
        grid-template-columns: 1fr;
        grid-template-areas:
        "t1"
        "r1"
        "r2"
        "r3"
        "r4"
        "r5"
        "r6"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (min-width:767px){
    .contenedor-residencial{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "t1   t1"
        "r1   r2"
        "r3   r4"
        "r5   r6"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-residencial img{
        border: 2px solid black;
    }
    
}

@media (min-width:991px){
    .contenedor-residencial{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "t1   t1"
        "r1   r2"
        "r3   r4"
        "r5   r6"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-residencial img{
        border: 2px solid black;
    }
    
}

@media (min-width:1200px){
    .contenedor-residencial{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "t1   t1  t1"
        "r1   r2  r3"
        "r4   r5  r6"
        ;
        gap: 10px;
        margin: 10px;
    }

    .contenedor-residencial img{
        border: 2px solid black;
        border-radius: 40px;
    }

    .t1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

/* COMERCIAL */

.contenedor-comercial img{
    width: 100%;
    box-shadow: 8px 10px 12px black;
}

.t2{
    grid-area: t2;
}

.c1{
    grid-area: c1;
}

.c2{
    grid-area: c2;
}

.c3{
    grid-area: c3;
}

.contenedor-comercial{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "t2"
    "c1"
    "c2"
    "c3"
    ;
}

@media (min-width:576px){
    .contenedor-comercial{
        grid-template-columns: 1fr;
        grid-template-areas:
        "t2"
        "c1"
        "c2"
        "c3"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (min-width:767px){
    .contenedor-comercial{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "t2   t2"
        "c1   c2"
        "c3   auto"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-comercial img{
        border: 2px solid black;
    }
    
}

@media (min-width:1200px){
    .contenedor-comercial{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "t2   t2  t2"
        "c1   c2  c3"
        ;
        gap: 10px;
        margin: 10px;
    }

    .contenedor-comercial img{
        border: 2px solid black;
        border-radius: 40px;
    }

    .t2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


/* DESARROLLO */

.contenedor-desarrollo img{
    width: 100%;
    box-shadow: 8px 10px 12px black;
}

.t3{
    grid-area: t3;
}

.d1{
    grid-area: d1;
}

.d2{
    grid-area: d2;
}

.d3{
    grid-area: d3;
}

.contenedor-desarrollo{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "t3"
    "d1"
    "d2"
    "d3"
    ;
}

@media (min-width:576px){
    .contenedor-desarrollo{
        grid-template-columns: 1fr;
        grid-template-areas:
        "t3"
        "d1"
        "d2"
        "d3"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (min-width:767px){
    .contenedor-desarrollo{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "t3   t3"
        "d1   d2"
        "d3   auto"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t3{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-desarrollo img{
        border: 2px solid black;
    }
    
}

@media (min-width:1200px){
    .contenedor-desarrollo{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "t3   t3  t3"
        "d1   d2  d3"
        ;
        gap: 10px;
        margin: 10px;
    }

    .contenedor-desarrollo img{
        border: 2px solid black;
        border-radius: 40px;
    }

    .t3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}



/* TURISMO */

.contenedor-turismo img{
    width: 100%;
    box-shadow: 8px 10px 12px black;
}

.t4{
    grid-area: t4;
}

.tu1{
    grid-area: tu1;
}

.tu2{
    grid-area: tu2;
}

.tu3{
    grid-area: tu3;
}

.contenedor-turismo{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "t4"
    "tu1"
    "tu2"
    "tu3"
    ;
}

@media (min-width:576px){
    .contenedor-turismo{
        grid-template-columns: 1fr;
        grid-template-areas:
        "t4"
        "tu1"
        "tu2"
        "tu3"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t4{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (min-width:767px){
    .contenedor-turismo{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "t4   t4"
        "tu1   tu2"
        "tu3   auto"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t4{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-turismo img{
        border: 2px solid black;
    }
    
}

@media (min-width:1200px){
    .contenedor-turismo{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "t4    t4   t4"
        "tu1   tu2  tu3"
        ;
        gap: 10px;
        margin: 10px;
    }

    .contenedor-turismo img{
        border: 2px solid black;
        border-radius: 40px;
    }

    .t4{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

/* INDUSTRIAL */

.contenedor-industrial img{
    width: 100%;
    box-shadow: 8px 10px 12px black;
}

.t5{
    grid-area: t5;
}

.i1{
    grid-area: i1;
}

.i2{
    grid-area: i2;
}

.i3{
    grid-area: i3;
}

.contenedor-industrial{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "t5"
    "i1"
    "i2"
    "i3"
    ;
}

@media (min-width:576px){
    .contenedor-industrial{
        grid-template-columns: 1fr;
        grid-template-areas:
        "t5"
        "i1"
        "i2"
        "i3"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t5{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (min-width:767px){
    .contenedor-industrial{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "t5   t5"
        "i1   i2"
        "i3   auto"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t5{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-industrial img{
        border: 2px solid black;
    }
    
}

@media (min-width:1200px){
    .contenedor-industrial{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "t5   t5  t5"
        "i1   i2  i3"
        ;
        gap: 10px;
        margin: 10px;
    }

    .contenedor-industrial img{
        border: 2px solid black;
        border-radius: 40px;
    }

    .t5{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

/* PROYECTO URBANO */

.contenedor-urbano img{
    width: 100%;
    box-shadow: 8px 10px 12px black;
}

.t6{
    grid-area: t6;
}

.u1{
    grid-area: u1;
}

.u2{
    grid-area: u2;
}

.u3{
    grid-area: u3;
}

.contenedor-urbano{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "t6"
    "u1"
    "u2"
    "u3"
    ;
}

@media (min-width:576px){
    .contenedor-urbano{
        grid-template-columns: 1fr;
        grid-template-areas:
        "t6"
        "u1"
        "u2"
        "u3"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t6{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (min-width:767px){
    .contenedor-urbano{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "t6   t6"
        "u1   u2"
        "u3   auto"
        ;
        gap: 20px;
        margin: 10px;
    }

    .t6{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-urbano img{
        border: 2px solid black;
    }
    
}

@media (min-width:1200px){
    .contenedor-urbano{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "t6   t6  t6"
        "u1   u2  u3"
        ;
        gap: 10px;
        margin: 10px;
    }

    .contenedor-urbano img{
        border: 2px solid black;
        border-radius: 40px;
    }

    .t6{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}



/* ETAPAS */

.section9{
    background-color: rgb(190, 190, 189);
}

.img-banner{
    width: 100%;
}

.amarillo{
    color: yellow;
    font-family:'Oswald', sans-serif;
}

.titulo9{
    font-family:'Oswald', sans-serif;
}

.texto9{
    font-family:'Dosis', sans-serif;
}

.border-etapas1{
    border-left: 3px solid black;
}

.border-etapas2{
    border-left: 3px solid rgb(255, 193, 7);
}

.etapa1{
    min-height: 50vh;
}

.etapa2{
    min-height: 50vh;
    background-color: rgb(35,31,32);
    color: white;
}

.etapa3{
    min-height: 50vh;
}

.etapa4{
    min-height: 50vh;
    background-color: rgb(35,31,32);
    color: white;
}

.etapa5{
    min-height: 30vh;
}

.etapa6{
    min-height: 50vh;
    background-color: rgb(35,31,32);
    color: white;
}

.etapa7{
    min-height: 30vh;
    border-bottom: 2px solid black;
}


/* NOSOTROS */

#body-nosotros{
    background-color: rgb(190, 190, 189);
}

.equipo{
    width: 100%;
}

.titulo10{
    font-family:'Oswald', sans-serif;
}

.texto10{
   font-family:'Dosis', sans-serif;
   font-size: 20px;
}

.container-nosotros{
    max-width: 1200px;
    margin: auto;
}

.titulo12{
    border-bottom: 2px solid black;
    font-family:'Oswald', sans-serif;
    font-size: 40px;
}

.texto12{
    font-family:'Dosis', sans-serif;
}

.titulo13{
    border-bottom: 2px solid black;
    font-family:'Oswald', sans-serif;
    font-size: 40px;
}

.texto13{
    font-family:'Dosis', sans-serif;
}

.imagen-nosotros{
    max-width: 100%;
}

/* CONTACTO */

#body-contacto{
    background-color:rgb(190, 190, 189);
}

.boton-contacto{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 15px;
}

.boton-contacto:hover{
    background-color: rgb(255, 230, 43);
}

.formulario-texto{
    font-weight: bold;
}

.botones-contacto{
    min-width: 100px;
}

.botones-contacto a{
  text-decoration: none;
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  background: rgb(49, 70, 82);
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .3s ease-in-out;
}

.botones-contacto a:hover{
    transform: scale(1.3);
}